.vip_header{
    padding:5px 20%;
    height: 84px;
}

.vip_url{
    display: block;
    font-size: .6667em;
    font-weight: normal;
    font-style: normal;
}

.vip_top_menu{
    position: relative;
    padding: 0 20%;
    width: 60%;
}

.vip_menu{
    list-style:none;
    font-weight:bold;
    margin-bottom:10px;
    padding: 5px;

}
.vip_menu li{
    color: #000;
    display: inline-block;
    padding: 2px;
    position: relative;
    text-align: left;
    width: 32%;
    background:#E6E6E6;
    text-shadow: 1px 0 1px #ddd;
}

.vip_menu li:hover,.vip_menu li.selected{
    color:#fff;
    background:#EC4545;
    background:linear-gradient(to bottom, #F65B5B, #D82F2F);
    cursor:pointer;
    text-shadow: 1px 0 1px #333;
}

.vips h4 {
    float: left;
    padding: 0 10px;
}

#two_star_privilege,#three_star_privilege{
    display: none;
}

.drop_dwon_list{
    padding: 5px;
    border: solid #ddd 1px;
    position: relative;
    left: -150px;
    border-collapse: collapse;
    width: 980px;
}

.spe_pri{
    width: 15%;
}

.ons_pri_val {
    width: 28%;
}

.tws_pri_val {
    width: 28%;
}



.vip_btn_wrap{
    width: 60%;
    padding: 0 20%;
}

.vip_btn{
    color: #fff;
    background:#EC4545;
    width: 5em;
    padding: 5px;
    text-align: center;
    background:linear-gradient(to bottom, #F65B5B, #D82F2F);
    display: block;
    float: right;
    margin: 20px;
}

.vip_btn:hover{
    background:linear-gradient(to bottom, #F65B5B, #B70511);
    text-decoration: none;
    text-shadow: 1px 0 1px #333;
}

img.star_pic{
    width: 60px;
    background: rgba(255,255,255,1);
    float: left;
    box-shadow: 1px 1px 2px #ccc;
    transition: all .3s ease-in 0s;
}

img.star_pic:hover{
    transform: rotate(20deg);
    cursor:pointer;
    box-shadow: 1px 1px 2px #ccc;
}